@import url("http://fonts.cdnfonts.com/css/circular-std");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: 'Circular Std', sans-serif; }
  body a {
    text-decoration: none; }
  body header nav {
    height: 70px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body header nav div img {
      height: 47px; }
    body header nav ul {
      display: flex;
      list-style: none; }
      body header nav ul li {
        padding: 0 15px 0 15px; }
        body header nav ul li a {
          text-decoration: none;
          color: #1D1D1D;
          transition: 300ms; }
        body header nav ul li a:hover {
          color: #1FC78E; }
  body header .headmain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 95vh; }
    body header .headmain #headcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 50vh; }
  body header h1 {
    text-align: center;
    font-size: 64px; }
  body header h1:after {
    position: absolute;
    top: 200px;
    right: 0;
    display: block;
    content: "";
    width: 130px;
    height: 260px;
    background-image: url(../image/illudroite.svg); }
  body header #headtitle {
    width: 1034px; }
    body header #headtitle:after {
      position: absolute;
      top: 283px;
      right: 605px;
      display: block;
      content: "";
      width: 370px;
      height: 200px;
      background-image: url(../image/circle.svg);
      background-repeat: no-repeat;
      background-size: contain; }
  body header p:after {
    position: absolute;
    top: 400px;
    left: 0;
    display: block;
    content: "";
    width: 150px;
    height: 300px;
    background-image: url(../image/illugauche.svg);
    background-size: contain;
    background-repeat: no-repeat; }
  body header #headsubtitle {
    font-family: "Raleway", sans-serif;
    text-align: center;
    width: 80%;
    font-size: 16px;
    padding: 50px; }
    body header #headsubtitle:after {
      position: absolute;
      top: 450px;
      right: 550px;
      display: block;
      content: "";
      width: 150px;
      height: 150px;
      background-image: url(../image/under.svg);
      background-repeat: no-repeat;
      background-size: contain; }
  body header #actions {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%; }
    body header #actions #button {
      color: white;
      padding: 20px 50px;
      border-radius: 25px;
      background: #1FC78E;
      transition: 300ms; }
    body header #actions #button:hover {
      background: #093929; }
    body header #actions:after {
      position: absolute;
      top: 730px;
      right: 550px;
      display: block;
      content: "";
      width: 120px;
      height: 400px;
      background-image: url(../image/Frame.svg);
      background-repeat: no-repeat;
      background-size: contain; }
  body #value {
    background-color: #E9FCF5;
    padding: 80px; }
    body #value div:first-child h1 {
      font-size: 56px;
      font-weight: bold;
      text-align: center; }
    body #value div:first-child p {
      text-align: center;
      width: 600px;
      margin: 40px auto; }
    body #value div:first-child h1:after {
      position: absolute;
      bottom: -150px;
      right: 38%;
      display: block;
      content: "";
      width: 130px;
      height: 100px;
      background-image: url(../image/photo1.svg); }
    body #value div:first-child svg {
      position: absolute;
      left: 41.5%; }
    body #value div:last-child {
      display: flex;
      justify-content: space-between;
      padding: 0 100px; }
      body #value div:last-child article {
        width: 354px;
        height: 394px;
        background: #FFFFFF;
        border-radius: 40px;
        padding: 61px 30px; }
        body #value div:last-child article div {
          width: 68px;
          height: 68px;
          background: #1FC78E;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 56px; }
        body #value div:last-child article h1 {
          text-align: center;
          margin-bottom: 24px;
          font-size: 22px;
          font-weight: bold;
          color: #1FC78E; }
        body #value div:last-child article p {
          text-align: center;
          font-size: 16px;
          line-height: 20px; }
    body #value:after {
      position: absolute;
      top: 1100px;
      right: 1850px;
      display: block;
      content: "";
      width: 120px;
      height: 400px;
      background-image: url(../image/deco.svg);
      background-repeat: no-repeat;
      background-size: contain; }

/*# sourceMappingURL=style.css.map */
