@import url("http://fonts.cdnfonts.com/css/circular-std");
@import url("http://fonts.cdnfonts.com/css/uberhand-text-pro");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: 'Circular Std', sans-serif; }
  body a {
    text-decoration: none; }
  body header nav {
    height: 70px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body header nav div img {
      height: 47px; }
    body header nav ul {
      display: flex;
      list-style: none; }
      body header nav ul li {
        padding: 0 15px 0 15px; }
        body header nav ul li a {
          text-decoration: none;
          color: #1D1D1D;
          transition: 300ms; }
        body header nav ul li a:hover {
          color: #1FC78E; }
  body header .headmain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 95vh; }
    body header .headmain #headcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 50vh; }
  body header h1 {
    text-align: center;
    font-size: 64px; }
  body header h1:after {
    position: absolute;
    top: 200px;
    right: 0;
    display: block;
    content: "";
    width: 130px;
    height: 260px;
    background-image: url(../image/illudroite.svg); }
  body header #headtitle {
    width: 1034px; }
    body header #headtitle strong {
      position: relative; }
      body header #headtitle strong div {
        position: absolute;
        bottom: -30px;
        left: 0;
        display: inline-block; }
  body header p:after {
    position: absolute;
    top: 400px;
    left: 0;
    display: block;
    content: "";
    width: 150px;
    height: 300px;
    background-image: url(../image/illugauche.svg);
    background-size: contain;
    background-repeat: no-repeat; }
  body header #headsubtitle {
    font-family: "Raleway", sans-serif;
    text-align: center;
    width: 80%;
    font-size: 16px;
    padding: 50px; }
  body header #actions {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%; }
    body header #actions #button {
      color: white;
      padding: 20px 70px;
      border-radius: 25px;
      background: #1FC78E;
      transition: 300ms; }
    body header #actions #button:hover {
      background: #093929; }
    body header #actions:after {
      position: absolute;
      top: 730px;
      right: 550px;
      display: block;
      content: "";
      width: 120px;
      height: 400px;
      background-image: url(../image/Frame.svg);
      background-repeat: no-repeat;
      background-size: contain; }
  body #value {
    background-color: #E9FCF5;
    padding: 80px; }
    body #value div:first-child h1 {
      font-size: 56px;
      font-weight: bold;
      text-align: center; }
      body #value div:first-child h1 strong {
        position: relative; }
        body #value div:first-child h1 strong div {
          position: absolute;
          top: 10px;
          left: -100px;
          display: inline-block; }
    body #value div:first-child p {
      text-align: center;
      width: 600px;
      margin: 40px auto; }
    body #value div:first-child h1:after {
      position: absolute;
      bottom: -150px;
      right: 36%;
      display: block;
      content: "";
      width: 130px;
      height: 100px;
      background-image: url(../image/photo1.svg); }
    body #value div:last-child {
      display: flex;
      justify-content: space-between;
      padding: 0 100px; }
      body #value div:last-child article {
        width: 354px;
        height: 394px;
        background: #FFFFFF;
        border-radius: 40px;
        padding: 61px 30px; }
        body #value div:last-child article div {
          width: 68px;
          height: 68px;
          background: #1FC78E;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 56px; }
        body #value div:last-child article h1 {
          text-align: center;
          margin-bottom: 24px;
          font-size: 22px;
          font-weight: bold;
          color: #1FC78E; }
        body #value div:last-child article p {
          text-align: center;
          font-size: 16px;
          line-height: 20px; }
    body #value:after {
      position: absolute;
      top: 1100px;
      right: 1850px;
      display: block;
      content: "";
      width: 120px;
      height: 400px;
      background-image: url(../image/deco.svg);
      background-repeat: no-repeat;
      background-size: contain; }

section#quiz, section#resultat {
  background-color: #E9FCF5;
  padding: 185px 100px; }

section#quiz h1 {
  font-size: 60px;
  font-weight: bold; }
section#quiz p {
  text-align: center;
  font-size: 32px; }
section#quiz form {
  padding: 40px 100px;
  display: flex;
  justify-content: space-between; }
  section#quiz form div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section#quiz form div input {
      width: 20px;
      height: 20px;
      color: black; }
    section#quiz form div label {
      font-size: 20px;
      margin-top: 10px; }
section#quiz button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 0 auto; }
section#quiz button#finir {
  display: none; }
section#quiz div#resultat {
  display: none; }
  section#quiz div#resultat p {
    margin-bottom: 50px; }

section#portraits {
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  section#portraits div.title-farmer {
    margin-bottom: 64px; }
    section#portraits div.title-farmer h1 {
      font-size: 56px; }
  section#portraits div.farmer-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: relative; }
    section#portraits div.farmer-container div.card-farmer {
      width: 440px;
      background-color: #36706B;
      border-radius: 32px;
      color: #FFFFFF;
      z-index: 1; }
      section#portraits div.farmer-container div.card-farmer div.card-farmer-text {
        padding: 24px 39px; }
        section#portraits div.farmer-container div.card-farmer div.card-farmer-text h3 {
          font-size: 36px;
          font-family: 'Uberhand Pro';
          font-style: italic;
          color: #F8961E;
          margin-bottom: 8px; }
        section#portraits div.farmer-container div.card-farmer div.card-farmer-text p:nth-child(2) {
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 18px; }
        section#portraits div.farmer-container div.card-farmer div.card-farmer-text p:nth-child(3) {
          font-family: 'Raleway', sans-serif;
          font-weight: 300;
          font-size: 16px;
          margin-bottom: 6px; }
        section#portraits div.farmer-container div.card-farmer div.card-farmer-text div:last-child a {
          color: #FFFFFF;
          margin-right: 8px; }
    section#portraits div.farmer-container svg.circle-bottom {
      position: absolute;
      bottom: -70px;
      left: 430px; }
    section#portraits div.farmer-container svg.circle-right {
      position: absolute;
      right: 0;
      bottom: 30px; }

footer {
  background-color: #1FC78E;
  color: #FFFFFF;
  padding: 100px; }
  footer > p {
    margin-top: 10px; }
  footer div {
    margin-top: 80px;
    display: flex; }
    footer div article:nth-child(1) {
      font-weight: bold;
      margin-right: 200px; }
      footer div article:nth-child(1) h1 {
        font-size: 20px;
        margin-bottom: 50px; }
      footer div article:nth-child(1) p {
        font-size: 16px;
        margin-top: 10px; }
        footer div article:nth-child(1) p img {
          margin-right: 10px; }
    footer div article:nth-child(2), footer div article:nth-child(3) {
      margin-left: 200px; }
      footer div article:nth-child(2) h1, footer div article:nth-child(3) h1 {
        font-size: 16px;
        margin-bottom: 50px; }
      footer div article:nth-child(2) p, footer div article:nth-child(3) p {
        margin-top: 20px;
        font-size: 14px; }
  footer > p:last-child {
    text-align: center;
    margin-top: 150px;
    font-weight: bold; }
  footer:after {
    position: absolute;
    bottom: -3355px;
    left: 90%;
    display: block;
    content: "";
    width: 27px;
    height: 75px;
    background-image: url(../image/back.svg);
    background-repeat: no-repeat;
    background-size: contain; }

/*# sourceMappingURL=style.css.map */
