
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 20vh;
        background: blue;
        
        h1{
            font-size: 64px;
            color: yellow;
        }


    }
}

