
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('http://fonts.cdnfonts.com/css/circular-std');
@import url("https://use.typekit.net/mbc4qah.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body{
    font-family: 'Circular Std', sans-serif;

    a{
        text-decoration: none;
    }

    header{
        nav{
            height: 70px;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div{
                img{
                    height: 47px;
                }
            }

            ul{
                display: flex;
                list-style: none;

                li{
                    padding: 0 15px 0 15px;

                    a{
                        text-decoration: none;
                        color: #1D1D1D;
                        transition: 300ms;
                    }

                    a:hover{
                        color: #1FC78E;
                    }
                }
            }
        }

        .headmain{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 95vh;

            #headcontainer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                height: 50vh;
            }
        }

        h1{
            text-align: center;
            font-size: 64px;
        }

        h1:after{
            position: absolute;
            top: 200px;
            right: 0;
            display: block;
            content: "";
            width: 130px;
            height: 260px;
             background-image: url(../image/illudroite.svg);
         }

         

        #headtitle{
            width: 1034px;
            strong{
                position: relative;
                div{
                    position: absolute;
                    bottom: -30px;
                    left: 0;
                    display: inline-block;
                }
            }
            // &:after{
            //     position: absolute;
            //     top: 283px;
            //     right: 605px;
            //     display: block;
            //     content: "";
            //     width: 370px;
            //     height: 200px;
            //      background-image: url(../image/circle.svg);
            //      background-repeat:no-repeat;
            //      background-size: contain;
            // }
        }

        p:after{
            position: absolute;
            top: 400px;
            left: 0;
            display: block;
            content: "";
            width: 150px;
            height: 300px;
             background-image: url(../image/illugauche.svg);
             background-size: contain;
             background-repeat: no-repeat;
         }

        #headsubtitle{
            font-family: "Raleway", sans-serif;
            text-align: center;
            width: 80%;
            font-size: 16px;
            padding: 50px;
        //     &:after{
        //         position: absolute;
        //         top: 450px;
        //         right: 550px;
        //         display: block;
        //         content: "";
        //         width: 150px;
        //         height: 150px;
        //          background-image: url(../image/under.svg);
        //          background-repeat:no-repeat;
        //          background-size: contain;
        // }

        }

        #actions{
            font-family: "Raleway", sans-serif;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 35%;

            


            #button{

                color: white;
                padding: 20px 70px;
                border-radius: 25px;
                background: #1FC78E;
                transition: 300ms;

            }

            #button:hover{

                background: #093929;


            }

            &:after{
                position: absolute;
                top: 730px;
                right: 550px;
                display: block;
                content: "";
                width: 120px;
                height: 400px;
                 background-image: url(../image/Frame.svg);
                 background-repeat:no-repeat;
                 background-size: contain;
        }
    }
}

    
    #value{
        background-color: #E9FCF5;
        padding: 80px;
        div:first-child{
             h1{
                font-size: 56px;
                font-weight: bold;
                text-align: center;
                strong{
                    position: relative;
                    div{
                        position: absolute;
                        top: 10px;
                        left: -100px;
                        display: inline-block;
                    }
                }
             }
             p{
                text-align: center;
                width: 600px;
                margin: 40px auto;
             }
             h1:after{
                position: absolute;
                bottom: -150px;
                right: 36%;
                display: block;
                content: "";
                width: 130px;
                height: 100px;
                 background-image: url(../image/photo1.svg);
             }
        }
        div:last-child{
            display: flex;
            justify-content: space-between;
            padding: 0 100px;
            article{
                width: 354px;
                height: 394px;
                background: #FFFFFF;
                border-radius: 40px;
                padding: 61px 30px;
                div{
                    width: 68px;
                    height: 68px;
                    background: #1FC78E;
                    border-radius: 50%;
                    margin: 0 auto;
                    margin-bottom: 56px;
                }
                h1{
                    text-align: center;
                    margin-bottom: 24px;
                    font-size: 22px;
                    font-weight: bold;
                    color: #1FC78E;

                }
                p{
                    text-align: center;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        &:after{
            position: absolute;
            top: 1100px;
            right: 1850px;
            display: block;
            content: "";
            width: 120px;
            height: 400px;
             background-image: url(../image/deco.svg);
             background-repeat:no-repeat;
             background-size: contain;

        }
    }

}
section#quiz,section#resultat{
    background-color: #E9FCF5;
    padding: 185px 100px;
}
section#quiz{
    h1{
        font-size: 60px;
        font-weight: bold;
    }
    p{
        text-align: center;
        font-size: 32px;
    }
    form{
        padding: 40px 100px;
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                width: 20px;
                height: 20px;
                color: black;
            }
            label{
                font-size: 20px;
                margin-top: 10px;
            }
        }

    }
    button{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    button#finir{
        display : none;
    }
    div#resultat{
        display : none;
        p{
            margin-bottom: 50px;
        }
    }
}



#concept{
    width: 100%;
    height: 2300px;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    #splitconcept{
        width: 20%;
        
    }
    #leftconcept, #rightconcept{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 40%;
        height: 1400px;


        article{
            padding: 100px 50px;
            width: 523px;
            height:570px;
            background: #36706B;
            border-radius: 0 0 25px 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            color: white;

            h2{
                padding-bottom: 10px;
                padding-top: 20px;
                width: 100%;

                strong{
                    position: relative;
                    div{
                        position: absolute;
                        top: 10px;
                        left: -100px;
                        display: inline-block;
                    }
            }

            #imgleft{
                width: 100%;
                height: 200px;
                margin-bottom: 30px;
                border-radius: 0 0  25px 25px;
                img{
                    width: 100%;
                }
            }
        }

    }

   

    #rightconcept{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 35%;
        height: 1800px;

        #spacer{
            width: 100%;
            height: 200px;
        }

    }
}

section#portraits{
    padding: 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.title-farmer{
        margin-bottom: 64px;

        h1{
            font-size: 56px;
        }
    }
    div.farmer-container{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        position: relative;

        div.card-farmer{
            width: 440px;
            background-color: #36706B;
            border-radius: 32px;
            color: #FFFFFF;
            z-index: 1;

            div.card-farmer-text{
                padding: 24px 39px;

                h3{
                    font-size: 36px;
                    font-family: ff-uberhand-pro, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    color: #F8961E;
                    margin-bottom: 8px;
                }
                p:nth-child(2){
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 18px;
                }
                p:nth-child(3){
                    font-family: 'Raleway', sans-serif;
                    font-weight: 300;
                    font-size: 16px;
                    margin-bottom: 6px;
                }
                div:last-child{
                    
                    a{
                        color: #FFFFFF;
                        margin-right: 8px;
                    }
                }
            }
        }
        
        svg.circle-bottom{
            position: absolute;
            bottom: -70px;
            left: 430px;
        }
        svg.circle-right{
        position: absolute;
        right: 0;
        bottom: 30px;
        }
    }
}

footer{
    background-color: #1FC78E;
    color: #FFFFFF;
    padding: 100px;
    &>p{
        margin-top: 10px;
    }
    div{
        margin-top: 80px;
        display: flex;
        article:nth-child(1){
            font-weight: bold;
            margin-right: 200px;
            h1{
                font-size: 20px;
                margin-bottom: 50px;
            }
            p{
                font-size: 16px;
                margin-top:10px;
                img{
                    margin-right: 10px;
                }
            }
        }
        article:nth-child(2),article:nth-child(3){
            margin-left: 200px;
            h1{
                font-size: 16px;
                margin-bottom: 50px;
            }
            p{
                margin-top:20px;
                font-size: 14px;
            }
        }
    }
}
    &>p:last-child{
        text-align: center;
        margin-top: 150px;
        font-weight: bold;
    }
    &:after{
        position: absolute;
        bottom: -3355px;
        left: 90%;
        display: block;
        content: "";
        width: 27px;
        height: 75px;
         background-image: url(../image/back.svg);
         background-repeat:no-repeat;
         background-size: contain;

    }

}